html {
  /* 1rem = 10px */
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

/* Utilities */
li > a {
  text-decoration: none;
}
ul > li {
  list-style: none;
}

#card .container div {
  font-size: 2rem;
}

#card .dropdown {
}
