html {
  /* 1rem = 10px */
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;  
}

#card .container div{
  font-size: 2rem;
}


/***** dropdown menu *****/

/*buton*/

#dropdown {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 6rem 0 7rem;
}

#dropdown .dropbtn {
  background-color: white;
  font-size: 2.3rem;
  width: 100%;
  border: none;
  cursor: pointer;  
}

#dropdown i{
  font-size: 1.2rem;
  padding: 1.5rem;
  margin: 2rem; 
}

#dropdown .flex{
  display: flex;
  justify-content: space-between;
}

/*acilir menü*/

#dropdown .dropdown-content {
  display: none;
  position: absolute;
}

#dropdown .dropdown-content a {
  color: #5F6769;
  font-weight: bold;
  font-size: 1.3rem;
  text-decoration: none;
  display: block; 
  margin: 1rem 0 1rem 0;
  text-align: start;
}

#dropdown hr {
  border: solid 1px #DBDBDB;
}

/*hover effekt*/

#dropdown i:hover {
  background-color: #E8E8E8 ;
  border-radius: 50%;
}

#dropdown a:hover {
  color: black;
}

#dropdown .dropbtn:hover .dropdown-content {
  display: block;
  background-color: white;
}

.dropbtn:hover {
  transition: 2s;
}

#dropdown .first:hover  { 
  margin-bottom: 25rem;
}

#dropdown .second:hover  { 
  margin-bottom: 8rem;
}
#dropdown .third:hover  { 
  margin-bottom: 8rem;

}
#dropdown .fourth:hover  { 
  margin-bottom: 5rem;

}
#dropdown .fifth:hover  { 
  margin-bottom: 5rem;

}

